body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(241, 139, 91);
}

a {
    text-decoration: none;
    color:forestgreen;
}


main {
    padding: 16px;
}

h1 {
    color: forestgreen;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 1px;
}

footer {
    padding: 24px 0;
    background-color: rgb(241, 139, 91);
    padding: 20px;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

.recipe-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

tr:nth-child(even) {
    background-color: bisque;
}
